header{
    width: 100%;
    height: 90px;
    border: 1px solid royalblue; 
    position: relative; 
}
header > a::before{
    position: absolute;
    display: block;
    content: '';
    width:50%;
    height: 100%;
    padding:20%;
    top:0;
    left: 0;
    background:url(../img/logo_name.png) no-repeat;
    background-position: center ,center;
    background-size: 50%;
    border:1px solid red;
}
