@charset "UTF-8";
@font-face {
  font-family: 'NanumBarunGothic';
  src: local(NanumBarunGothic);
  src: url("../font/NanumBarunGothic.eot");
  src: url("../font/NanumBarunGothic.woff") format("woff"), url("https://www.navercorp.com/font/NanumBarunGothic.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare-L';
  src: local(NanumSquareOTFLight);
  src: url("../font/NanumSquareOTFLight.eot");
  src: url("../font/NanumSquareOTFLight.woff") format("woff"), url("../../font/NanumSquareOTFLight.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare';
  src: local(NanumSquareOTFRegular);
  src: url("../font/NanumSquareOTFRegular.eot");
  src: url("../font/NanumSquareOTFRegular.woff") format("woff"), url("../../font/NanumSquareOTFRegular.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare-B';
  src: local(NanumSquareOTFBold);
  src: url("../font/NanumSquareOTFBold.eot");
  src: url("../font/NanumSquareOTFBold.woff") format("woff"), url("../../font/NanumSquareOTFBold.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare-EB';
  src: local(NanumSquareOTFExtraBold);
  src: url("../font/NanumSquareOTFExtraBold.eot");
  src: url("../font/NanumSquareOTFExtraBold.woff") format("woff"), url("../../font/NanumSquareOTFExtraBold.otf") format("opentype");
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url("../font/BebasNeue-Regular.ttf") format('woff');
  }
@font-face {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Regular'), url("../font/HelveticaNeueBold.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Regular'), url("../font/76 Bold Italic.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Regular'), url("../font/HelveticaNeueBlackItalic 1.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica Neue 66 Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue 66 Medium Italic'), url("../font/HelveticaNeueMediumItalic.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica Neue Black';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Black'), url("../font/Helvetica95Black.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 25 UltraLight Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 25 UltraLight Regular'), url("../font/Helvetica25UltraLight_22433.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 35 Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 35 Thin Regular'), url("../font/Helvetica35Thin_22435.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 45 Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 45 Light Regular'), url("../font/Helvetica45Light_22437.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 55 Roman Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 55 Roman Regular'), url("../font/Helvetica55Roman_22439.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 65 Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 65 Medium Regular'), url("../font/Helvetica65Medium_22443.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 25 UltraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 25 UltraLight Italic'), url("../font/Helvetica26UltraLightItalic_22434.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 35 Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 35 Thin Italic'), url("../font/Helvetica36ThinItalic_22436.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 45 Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 45 Light Italic'), url("../font/Helvetica46LightItalic_22438.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 55 Roman Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 55 Roman Italic'), url("../font/Helvetica56Italic_22440.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 65 Medium Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 65 Medium Bold'), url("../font/Helvetica85Heavy_22449.woff") format('woff');
  }
  
  
  @font-face {
  font-family: 'Helvetica 65 Medium Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 65 Medium Bold Italic'), url("../font/Helvetica86HeavyItalic_22450.woff") format('woff');
  }
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}
.wrap{
  letter-spacing: -1px;
  position: relative;
  width:100%;
  /* border: 1px solid red; */
}
header{
  position:fixed;
  left:0;
  right: 0;
  top:0;
  z-index:6000;
  min-width: 890px;
  /* border:1px solid black; */
  background-color:rgba(255,255,255,1);
  list-style: none;
}

footer{
  position: absolute;/* 컨텐츠의 양에 따라서 아래에 붙어있어라 */
  bottom: 0;
  width:100%;
  z-index:5000;
}