main {
    width:99.7%;
    padding: 0 3%;
    font-family: 'Noto Sans KR', sans-serif;
     /* border:1px solid red; */
  }
/* .main_wrap > section > a {
    color:black;
    position: relative;
    width:99.7%;
    padding: 0 3%;
} */
.main_wrap > section > a > img{
    margin-top:100px;
    display: block;
    width:99.95625%;
}
.main_wrap > section > div{ 
    text-align: center;
    margin:0 auto;
}
.main_wrap > section > div > h2,
.main_wrap > section > div > h2 > a{
    font-size: 43px;
    color:black ;
    margin:43px 0 13px 0;
}
.main_wrap > section > div > p,
.main_wrap > section > div > p > a
{   font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color:black;
    
}
.main_wrap > section > div > a, .article_radius{
    display: inline-block;
    padding:10px 30px;
    background-color: black;
    color: #fff;
    /* border:1px solid black; */
    border-radius: 60px;
}
.main_wrap >.trending_now{
    width:100%;
    height: 700px; 
    /* border:1px solid red; */
}
.main_wrap >.trending_now::after{
    content: '';
    display: block;
    clear: both;
}

.main_wrap >.trending_now > h3,
.main_wrap >.featured_Shoes > h3,
.main_wrap >.apparel_essentials > h3
{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 23px;
    padding: 0  0 16px 10px;
   
}
.main_wrap >.trending_now > article{
    float: left;
    margin: 8px 0 88px 0;
    width:calc(49% - 8px);
    position: relative;
}
.main_wrap >.trending_now > article > a >.trending1{
    display: block;
    width:100%;
    height: 700px;
    background: url(../img/trending_1.jpg) no-repeat;
    background-position: center center;
    background-size:cover;
}
.main_wrap >.trending_now > article > a >.trending2{
    display: block;
    width:100%;
    height: 700px;
    background: url(../img/trending_2.jpg) no-repeat;
    background-position: center center;
    background-size:cover;
}

.main_wrap >.trending_now > article > h4 {
 position: absolute;
 left:48px;
 font-size:20px;
 bottom:110px;
 z-index: 100;
 
}
.main_wrap >.trending_now > article > h4  a{
    color:black;
} 

.main_wrap >.trending_now > article > .article_radius{
    position: absolute;
    font-size:15px;
    left:48px;
    bottom: 50px;
}
.main_wrap > .apparel_essentials{
    padding-top:88px;
    width: 100%;
}
.main_wrap > .apparel_essentials::after{
    content: '';
    display: block;
    clear: both;
}
.main_wrap > .apparel_essentials > ul > li{
    float: left;
    width:calc(33.3% - 15px);
    margin-right:15px;
    position: relative;
     /* border:1px solid red; */
}
.main_wrap > .apparel_essentials > ul > li:last-child{
    margin-right: none;
}
.main_wrap > .apparel_essentials > ul > li > a >img{
    width:100%;
}
.main_wrap > .apparel_essentials > ul > li > a{
    color:#fff;
    position: relative;
}
.main_wrap > .apparel_essentials > ul > li > a> h5{
    position: absolute;
    top:50px;
    left:50px;
    font-size:20px;
}


/* 슬라이드 */

main .bx-wrapper{
    box-shadow: none;
    border: none;
    background:none;
    z-index: 0;
    position: relative;
    max-width: 97.5% !important;
    /* border:1px solid blue; */
}
/* 화살표 버튼 */
main .bx-wrapper .bx-controls-direction a {
    width:50px;
    height:50px;
}
main .bx-wrapper .bx-next{
    background: url(../img/btn_next.png) no-repeat 0 0;
    right:50px;
    opacity: 0;
}
main .bx-wrapper .bx-prev{
    background: url(../img/btn_prev.png) no-repeat 0 0;
    left:50px;
    opacity: 0;
}
main .bx-wrapper .bx-prev:hover,
main .bx-wrapper .bx-next:hover, 
main .bx-wrapper .bx-prev:focus,
main .bx-wrapper .bx-next:focus{
    background-position: 0 0;
    opacity: 1;
}
/* 버튼 */

main .featured_Shoes .bx-wrapper .bx-pager {
    padding:0;
    margin:0 10px;
}
main .featured_Shoes .bx-pager.bx-default-pager a{
    width:300px;
    height:5px;
    margin:0;
    /* border:1px solid red; */
    background-color:#f7f7f7;
}

main .bx-wrapper .bx-pager.bx-default-pager a:hover,
main .bx-wrapper .bx-pager.bx-default-pager a.active, 
main .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background-color:#cccccc;
 }
/* 글씨 */
.wrap main .featured_Shoes .bx-wrapper .bx-viewport .e_slider > li{
    text-align: left;    
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.8rem;
}
.wrap main .featured_Shoes .bx-wrapper .bx-viewport .e_slider > li > a > h5{
    font-weight: 600;
    margin-top:15px;
    color: #000;
    font-size: 17px;
}
.wrap main .featured_Shoes .bx-wrapper .bx-viewport .e_slider > li > a > p{
    color:#8d8d8d;
    font-weight:bolder;
    font-size: 15px;
    
} 
/* 슬라이드 이미지 */
main .bx-wrapper img:hover{
    opacity: 0.8;
}
main .e_slider > li{
    margin-right: 15px !important;
    width: 100%;
}